# Postgres — pakai Neon (neon.tech) buat kompatibel sama Vercel serverless
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# generate: openssl rand -base64 32
NEXTAUTH_SECRET="ganti-ini"
NEXTAUTH_URL="http://localhost:3000"
